{% extends 'Base.html' %}
{% load static %}

{% block header %}

{% endblock header %}

{% block main %}

<div class="container">
    <h2 class="text-center text-dark">
        Acerca de Mi
    </h2>

<img src= "{% static "assets/img/image_1.jpg" %}" alt="" height="200px">
<div class="text-center">
    <p>Hola! Me llamo Emanuel Arias. </p>
    <p>Tengo 24 años y me interesa el mundo de la programacion, el poder darle vida a algo codeando me fascina. Actualmente estoy estudiando Python en CoderHouse y en la pagina en donde te encuentras es mi proyecto final. Gracias por pasarte :D!</p>
    <p>Mi perfil de github:
    </p>
    <a href="https://github.com/emarias"><i class="bi bi-github text-dark mx-1"></i></a>
 </div>


{% endblock %}
{% block section %}{% endblock section %}