{% extends "base.html" %}
    
    {% block h1_header %}
    Informacion del Empleado {{empleado.id}}
    {% endblock h1_header %}
    
    {% block main %}
    <ul>
        <li>Nombre: {{empleado.nombre}}</li>
        <li>Apellido: {{empleado.apellido}}</li>
        <li>Edad: {{empleado.edad}}</li>
        <li>Sector: {{empleado.sector}}</li>
        <li>Sobre mi: {{empleado.sobre_mi | safe}}</li>
        {% if empleado.imagen %}
        <li>Foto: <img src="{{ empleado.imagen.url }}" alt="Imagen actual" height="200px"></li>
{% else %}
{% endif %}
    </ul>
    {% endblock main %}

    {% block section %}{% endblock section %}