<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "crear_empleado" %}>Nuevo Empleado</a>
    </nav>
    <h1>Lista de empleados:</h1>
    
    <form action={% url "empleados" %}>
    {{formulario}}
    <input type="submit" value="Buscar">
    </form>
    {% if empleadoslista %}
    <ul>
        {% for empleado in empleadoslista %}
        <li>{{empleado}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No existe Empleado con ese nombre.</p>
    {% endif %}
</body>
</html>